### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [83]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [104]:
Player_Counts = len(purchase_data["SN"].value_counts())

print(f"Total Players: {(Player_Counts)}")

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [118]:
Item_Counts = purchase_data["Item ID"].value_counts()
Unique_item_counts = len(Item_Counts)
Avg_price = purchase_data["Price"].mean()
Num_purhases = purchase_data['Purchase ID'].count()
Total_Rev= purchase_data['Price'].sum()

# print(f"Total items: {len(Item_Counts)}")
# print(f"Avg Price: {Avg_price}")
# print(f'Number of Purchases: {Num_purhases}')
# print(f'Total Rev: {Total_Rev}')

Summary_Totals= pd.DataFrame({"Number of Unique Items": Unique_item_counts,
                             "Average Price": Avg_price,
                              "Number of Purchases":Num_purhases, 
                              "Total Revenue": [Total_Rev]})
Summary_Totals.style.format({"Average Price":"${:,.2f}", "Total Revenue" : "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [119]:
Group_Gender = purchase_data.groupby("Gender") 
Count_Gender = Group_Gender.nunique()["SN"]
Count_Gender.head()

Gender_Percentages = Count_Gender/Player_Counts*100

Gender_Summary = pd.DataFrame({"Gender Percentages":Gender_Percentages,"Gender Count": Count_Gender})

Gender_Summary.style.format({"Gender Percentages":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame